# Python
__pycache__/
*.py[cod]

# Databases
*.db
*.db-journal
*.db-wal
*.db-shm

# PyInstaller
build/
dist/

# Inno Setup output
installer/
Installer/

# Executables
*.exe

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db